<script id="accounting-payments-template" type="text/x-handlebars-template">
    <h3><%= t('Payments') %></h3>
    <div id="accounting-payments-table-top-hscroll"><div id="accounting-payments-fake-table"></div></div>
    <div class='table-responsive'>
        <table id="accounting-payments-per-year-table" class="table table-condensed table-bordered table-hover">
            <thead>
                <tr>
                    <td class="text-left"><%= t('Tenant') %></td>
                    {{#each months}}
                    <td>{{this}}</td>
                    {{/each}}
                </tr>
            </thead>
            <tbody>
            {{#each occupants}}
                {{> accounting-payments-row-template}}
            {{/each}}
            </tbody>
        </table>
    </div>
</script>

<script id="accounting-payments-row-template" type="text/x-handlebars-template">
    <tr>
        <td>
            <a href="#" class="js-user-action" data-id="invoice-link" data-occupant-id="{{occupantId}}" data-year="{{year}}">{{name}}</a><br>
            <small>
                {{reference}}<br>{{formatDate beginDate}} - {{formatDate endDate}}<br>
                <%= t('Deposit') %> {{formatMoney deposit emptyForZero=false}}<br>
                {{#each properties}}
                    {{Image type}} {{name}}<br>
                {{/each}}
            </small>
        </td>
        {{#each rents}}
        {{#if inactive}}
            <td class="inactive"></td>
        {{else}}
            <td>
                {{#if payment}}
                    <a href="#" class="js-user-action" data-id="invoice-link" data-occupant-id="{{occupantId}}" data-year="{{year}}" data-month="{{month}}">
                        {{formatMoney payment emptyForZero=true}}
                    </a>
                    <small>
                    {{#if paymentType}}
                        <br>{{paymentType paymentType}}
                        {{#if paymentReference}}
                            <br>{{i18next key='#' number=paymentReference}}
                        {{/if}}
                    {{/if}}
                    {{#if paymentDate}}
                        <br>{{formatDate paymentDate}}
                    {{/if}}
                    </small>
                {{/if}}
            </td>
        {{/if}}
        {{/each}}
    </tr>
</script>

<script id="accounting-entries-exits-template" type="text/x-handlebars-template">
    <div class="row">
        <div class="col-xs-12">
            <h3><%= t('Entries') %></h3>
            <div class='table-responsive'>
                <table id="accounting-entries-table" class="table table-condensed table-bordered table-hover">
                    <thead>
                        <tr>
                            <td class="text-left"><%= t('Tenant') %></td>
                            <td><%= t('Entry date') %></td>
                            <td class="text-right"><%= t('Deposit') %></td>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each entries.occupants}}
                        <tr>
                            <td>{{name}}<br>
                                <small>
                                    {{reference}}<br>
                                    {{#each properties}}
                                        {{Image type}} {{name}}<br>
                                    {{/each}}
                                </small>
                            </td>
                            <td>{{formatDate beginDate}}</td>
                            <td class="text-right">{{formatMoney deposit emptyForZero=false}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-12">
            <h3><%= t('Exits') %></h3>
            <div class='table-responsive'>
                <table id="accounting-exits-table" class="table table-condensed table-bordered table-hover">
                    <thead>
                        <tr>
                            <td class="text-left"><%= t('Tenant') %></td>
                            <td><%= t('Exit date') %></td>
                            <td class="text-right"><%= t('Deposit') %></td>
                            <td class="text-right"><%= t('Deposit refund') %></td>
                            <td class="text-right"><%= t('Balance') %></td>
                            <td class="text-right"><%= t('Deposit') %> - <%= t('Balance') %></td>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each exits.occupants}}
                        <tr>
                            <td>
                                {{name}}<br>
                                <small>
                                    {{reference}}<br>
                                    {{#each properties}}
                                        {{Image type}} {{name}}<br>
                                    {{/each}}
                                </small>
                            </td>
                            <td>
                                {{formatDate endDate}}<br>
                                <small>
                                    {{#if leaseBroken}}{{i18next key='Lease broken'}}{{else}}{{i18next key='Lease terminated'}}{{/if}}
                                </small>
                            </td>
                            <td class="text-right">{{formatMoney deposit emptyForZero=false}}</td>
                            <td class="text-right">{{formatMoney depositRefund emptyForZero=false}}</td>
                            <td class="text-right">{{formatMoney totalAmount emptyForZero=false}}</td>
                            <td class="text-right {{#ifNeg toPay}}danger{{/ifNeg}}">{{formatMoney toPay emptyForZero=false}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</script>
