<% var min = config.productive ? '.min' : ''; %>

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=1024">

        <title><%=config.website.productName%> <%=config.website.productSlogan%></title>

        <%- include metatags.ejs %>

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="/public/css/index<%=min%>.css">

        <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    </head>

    <body class="covered-body">
        <%- include header.ejs %>

        <div class="js-view-container">
            <%- include(view+'/view/index') %>
        </div>

        <div id="waitwindow" class="alert" style="display:none;">
            <i class="fa fa-refresh fa-spin fa-2x"></i><span class="loading"><%= t('Loading') %>...</span>
        </div>

        <%- include footer.ejs %>
    </body>
    <script src="/node_modules/i18next/i18next.min.js"></script>
    <script src="/node_modules/i18next-browser-languagedetector/i18nextBrowserLanguageDetector.min.js"></script>
    <script src="/node_modules/i18next-localstorage-cache/i18nextLocalStorageCache.min.js"></script>
    <script src="/node_modules/i18next-xhr-backend/i18nextXHRBackend.min.js"></script>
    <script src="/node_modules/i18next-sprintf-postprocessor/i18nextSprintfPostProcessor.min.js"></script>
    <script src="//cdn.jsdelivr.net/velocity/1.5.0/velocity.min.js"></script>
    <script src="//cdn.jsdelivr.net/velocity/1.5.0/velocity.ui.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/node_modules/sugar/dist/sugar.min.js"></script>
    <script src="/node_modules/jquery-validation/dist/jquery.validate.js"></script>
    <script src="//cdn.jsdelivr.net/momentjs/2.17.1/moment.min.js"></script>
    <script src="/node_modules/frontexpress/frontexpress.min.js"></script>
    <script src="/node_modules/bootbox/dist/bootbox.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.4/handlebars.min.js"></script>
    <script src="/node_modules/minivents/dist/minivents.min.js"></script>
    <script src="/node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="/public/js/index<%=min%>.js"></script>
</html>
