<div class="form-card">
    <div id="parameter-form" class="clear grid-form">
        <fieldset>
            <legend><%= t('Organization') %></legend>
            <div data-row-span="1">
                <div data-field-span="1">
                    <label>t('Organization name')</label>
                    <input type="text" id="realm.name" value="<%= realm.name?realm.name:''%>" disabled>
                </div>
            </div>
            <%
			    realm.members.filter(member => member.role === 'administrator').forEach((member, index) => {
            %>
            <div data-row-span="1">
                <div data-field-span="1">
                    <label><%= t('Administrator') %></label>
                    <input type="text" id="realm.administrator<%=index%>" value="<%= member.email %>" disabled>
                </div>
            </div>
            <%
                });
                realm.members
                    .filter(member => member.role === 'renter')
                    .reduce((acc, member, index) => {
                        acc[index] = member.email;
                        return acc;
                    }, ['','','','','','','','','',''])
                    .forEach(email, index) => {
            %>
                <div data-field-span="1">
                    <label class="left"><%= t('User') %> <%= t('#', {number: index}) %></label>
                    <input id="realm.user<%=index%>" class="" type="text" value="<%= email %>">
                    <span class="my-error-tip"></span>
                </div>
            <%
                });
            %>
        </fieldset>
    </div>
</div>
