<div class="footer">
    <div class="footer-container cleanfix">
        <div class="author pull-left">
            <a href="<%=webSiteInfo.author.twitter.url%>" title="<%=webSiteInfo.author.twitter.id%>" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
            <a href="<%=webSiteInfo.author.github.url%>" title="<%=webSiteInfo.author.github.id%>" target="_blank"><i class="fa fa-github fa-2x"></i></a>
            <a href="<%=webSiteInfo.author.website%>" title="<%=webSiteInfo.author.name%>" target="_blank"><i class="fa fa-info-circle fa-2x"></i></a>
            <%if (webSiteInfo.demomode) {%>
			<a href="https://github.com/camelaissani/loca" title="Loca source code" target="_blank">Fork me on github!</a>
            <%}%>
        </div>
        <%if (webSiteInfo.demomode) {%>
        <div class="pull-right">
	        <a href="#" id="demo-popover" data-toggle="popover" title="Site de démonstration" data-content="Les données du site sont réinitialisées toutes les 30 minutes.">
	  			<i class="fa fa-comment-o fa-2x"></i>
			</a>
		</div>
        <%}%>
    </div>
</div>