<div id='view-preference' class='view'>

	<!--div class="view-container"-->
		<div class="left-container">
            <div class="view-title"><h2>Paramètres</h2></div>
        </div>
        <div class="center-container">
	        <div class="form-card">
	       		<div id="parameter-form" class="clear grid-form">
	 				<fieldset>
		 				<legend>Groupe</legend>
	 					<div data-row-span="1">
			 				<div data-field-span="1">
				 				<label>Nom du groupe</label>
				                <input type="text" id="realm.name" value="<%= realm.name?realm.name:''%>" disabled>
			 				</div>
			 			</div>
			 			<div data-row-span="1">
			 				<div data-field-span="1">
				 				<label>Administrateur</label>
				                <input type="text" id="realm.administrator" value="<%= realm.administrator?realm.administrator:''%>" disabled>
			 				</div>
			 			</div>
			 			<div data-row-span="3">
			 				<div data-field-span="1">
				 				<label class="left">Utilisateur 1</label>
				 				<input id="realm.user1" class="" type="text" value="<%= realm.user1?realm.user1:''%>">
						 		<span class="my-error-tip"></span>
			 				</div>
			 				<div data-field-span="1">
				 				<label class="left">Utilisateur 2</label>
				 				<input id="realm.user2" class="" type="text" value="<%= realm.user2?realm.user2:''%>">
						 		<span class="my-error-tip"></span>
			 				</div>
			 				<div data-field-span="1">
				 				<label class="left">Utilisateur 3</label>
				 				<input id="realm.user3" class="" type="text" value="<%= realm.user3?realm.user3:''%>">
						 		<span class="my-error-tip"></span>
			 				</div>
			 			</div>
			 			<div data-row-span="3">
			 				<div data-field-span="1">
				 				<label class="left">Utilisateur 4</label>
				 				<input id="realm.user4" class="" type="text" value="<%= realm.user4?realm.user4:''%>">
						 		<span class="my-error-tip"></span>
			 				</div>
			 				<div data-field-span="1">
				 				<label class="left">Utilisateur 5</label>
				 				<input id="realm.user5" class="" type="text" value="<%= realm.user5?realm.user5:''%>">
						 		<span class="my-error-tip"></span>
			 				</div>
			 				<div data-field-span="1">
				 				<label class="left">Utilisateur 6</label>
				 				<input id="realm.user6" class="" type="text" value="<%= realm.user6?realm.user6:''%>">
						 		<span class="my-error-tip"></span>
			 				</div>
			 			</div>
			 			<div data-row-span="3">
			 				<div data-field-span="1">
				 				<label class="left">Utilisateur 7</label>
				 				<input id="realm.user7" class="" type="text" value="<%= realm.user7?realm.user7:''%>">
						 		<span class="my-error-tip"></span>
			 				</div>
			 				<div data-field-span="1">
				 				<label class="left">Utilisateur 8</label>
				 				<input id="realm.user8" class="" type="text" value="<%= realm.user8?realm.user8:''%>">
						 		<span class="my-error-tip"></span>
			 				</div>
			 				<div data-field-span="1">
				 				<label class="left">Utilisateur 9</label>
				 				<input id="realm.user9" class="" type="text" value="<%= realm.user9?realm.user9:''%>">
						 		<span class="my-error-tip"></span>
			 				</div>
			 			</div>
			 			<div data-row-span="3">
			 				<div data-field-span="1">
				 				<label class="left">Utilisateur 10</label>
				 				<input id="realm.user10" class="" type="text" value="<%= realm.user10?realm.user10:''%>">
						 		<span class="my-error-tip"></span>
			 				</div>
			 			</div>
	 				</fieldset>
	 				<fieldset>
	 					<legend>Bailleur</legend>
		 				<div data-row-span="1">
			 				<div data-field-span="1">
				 				<label>Nom du représentant</label>
				                <input type="text" id="realm.manager" value="<%= realm.manager?realm.manager:''%>">
			 				</div>
			 			</div>
			 			<div data-row-span="4">
		                    <div data-field-span="1">
		                        <label>Forme juridique</label>
		                        <input type="text" id="realm.legalForm" value="<%= realm.legalForm?realm.legalForm:''%>">
		                        <span class="my-error-tip"></span>
		                    </div>
		                    <div data-field-span="3">
		                        <label>Nom de l'entreprise</label>
		                        <input type="text" id="realm.company" value="<%= realm.company?realm.company:''%>">
		                        <span class="my-error-tip"></span>
		                    </div>
		                </div>
		                <div data-row-span="4">
		               	 	<div data-field-span="1">
		                        <label>Capital social</label>
		                        <input type="text" id="realm.capital" value="<%= realm.capital?realm.capital:''%>">
		                        <span class="my-error-tip"></span>
		                    </div>
		                    <div data-field-span="3">
		                        <label>RCS</label>
		                        <input type="text" id="realm.siret" value="<%= realm.siret?realm.siret:''%>">
		                        <span class="my-error-tip"></span>
		                    </div>
	                	</div>
	                	<div data-row-span="1">
			 				<div data-field-span="1">
				 				<label>Numéro de T.V.A. intracommunautaire</label>
				                <input type="text" id="realm.vatNumber" value="<%= realm.vatNumber?realm.vatNumber:''%>">
			 				</div>
			 			</div>
		 			</fieldset>
		 			<fieldset>

		 				<div data-row-span="1">
			 				<div data-field-span="1">
				 				<label>N° et rue</label>
				                <input type="text" id="realm.street1" value="<%= realm.street1?realm.street1:''%>">
			 				</div>
			 			</div>
			 			<div data-row-span="1">
			 				<div data-field-span="1">
				               	<input type="text" id="realm.street2" value="<%= realm.street2?realm.street2:''%>">
			 				</div>
			 			</div>
			 			<div data-row-span="4">
			 				<div data-field-span="1">
				 				<label>Code postal</label>
				                <input type="text" id="realm.zipCode" value="<%= realm.zipCode?realm.zipCode:''%>">
			 				</div>
			 				<div data-field-span="3">
				 				<label>Ville</label>
				                <input type="text" id="realm.city" value="<%= realm.city?realm.city:''%>">
			 				</div>
			 			</div>
		 			</fieldset>
		 			<fieldset>

		 				<div data-row-span="1">
			 				<div data-field-span="1">
				 				<label>Contact</label>
				                <input type="text" id="realm.contact" value="<%= realm.contact?realm.contact:''%>">
			 				</div>
			 			</div>
		 				<div data-row-span="2">
			 				<div data-field-span="1">
				 				<label>Tél. 1</label>
				                <input type="text" id="realm.phone1" value="<%= realm.phone1?realm.phone1:''%>">
			 				</div>
			 				<div data-field-span="1">
				 				<label>Tél. 2</label>
				                <input type="text" id="realm.phone2" value="<%= realm.phone2?realm.phone2:''%>">
			 				</div>
			 			</div>
			 			<div data-row-span="1">
			 				<div data-field-span="1">
				 				<label>E-mail</label>
				                <input type="text" id="realm.email" value="<%= realm.email?realm.email:''%>">
			 				</div>
			 			</div>
			 		</fieldset>
			 		<fieldset>

		 				<div data-row-span="2">
			 				<div data-field-span="1">
				 				<label>Nom de la banque</label>
				                <input type="text" id="realm.bank" value="<%= realm.bank?realm.bank:''%>">
			 				</div>
			 				<div data-field-span="1">
				 				<label>IBAN</label>
				                <input type="text" id="realm.rib" value="<%= realm.rib?realm.rib:''%>">
			 				</div>
			 			</div>
			 		</fieldset>

		 			<div class="right form-action">
				        <input type="button" id="parameterform-send" value="Enregistrer">
				    </div>
	 			</div>
	        </div>
	    </div>
        <div class="right-container">
		</div>
	<!--/div-->
</div>