<!DOCTYPE html>
<html>
	<%- include partials/htmlhead.ejs %>

	<body>
		<%
			occupants.forEach(function(occupant) {
				occupant.rents.forEach(function(rent) {
		%>

		<div class="page">
			<%- include partials/header.ejs %>

	        <%- include partials/customeraddress.ejs %>

			<%- include partials/customerreference.ejs %>

			<%- include partials/placeanddate.ejs %>

	        <div class="title">Avis d'échéance</div>

			<div class="limit">
				Montant total de <strong><%= formatMoney(rent.total.grandTotal) %></strong> était à nous faire parvenir avant le <strong><%= rent.dueDate %></strong>.
			</div>

			<div class="items">
				<table>

				  <%- include partials/invoicebody %>

				  <%- include partials/rentcalltotal %>

				</table>
			</div>

			<%- include partials/paymentmodalities %>

			<%- include partials/footer %>
			<div class="rubber-stamp red">
				Dernier rappel<br>avant huissier
			</div>
		</div>
		<%
				});
			});
		%>
		<%- include partials/printbar %>
	</body>
	<%- include partials/scripts %>
</html>
