<div class="footer">
    <div class="container">
        <a href="<%=config.website.author.twitter.url%>" title="<%=config.website.author.twitter.id%>" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
        <a href="<%=config.website.author.github.url%>" title="<%=config.website.author.github.id%>" target="_blank"><i class="fa fa-github fa-2x"></i></a>
        <a href="<%=config.website.author.website%>" title="<%=config.website.author.name%>" target="_blank"><i class="fa fa-info-circle fa-2x"></i></a>
        <%if (config.demomode) {%>
        <a href="https://github.com/camelaissani/loca" title="Loca source code" target="_blank">Fork me on github!</a>
        <%}%>
    </div>
</div>