<%
var min = '';
if (config.productive) {
    min = '.min';
}
%>

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">

        <title><%=config.website.productName%> <%=config.website.productSlogan%></title>
        <% if (!isLogged) { %>
            <%- include website/metatags.ejs %>
        <% } %>

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

        <% if (isLogged) { %>
        <link rel="stylesheet" href="/public/css/restricted<%=min%>.css">
        <% } else { %>
        <link rel="stylesheet" href="/public/css/public<%=min%>.css">
        <% } %>

        <script src="/node_modules/jquery/dist/jquery.min.js" type="text/javascript"></script>
    </head>

    <body class="<%= (!isLogged || view === 'website') ? "covered-body" : "" %>">
        <%- include website/header.ejs %>

        <div class="view-container" style="visibility:hidden;opacity:0;">
        <% if (isValidView) { %>
            <%- include(view+'/index') %>
        <% } else { %>
            <p>Page inconnue</p>
        <% } %>
        </div>

        <%if (user && config.demomode) {%>
        <div id="demo-popover" style="display:none;"></div>
        <%}%>

        <% if (isLogged) { %>
            <div id="waitwindow" class="alert" style="display:none;">
                <i class="fa fa-refresh fa-spin fa-2x"></i><span class="loading"><%= t('Loading') %>...</span>
            </div>
        <% } %>
        <% if (!isLogged || view === 'website') { %>
            <%- include website/footer.ejs %>
        <% } %>
    </body>
        <script src="/node_modules/i18next/i18next.min.js" type="text/javascript"></script>
        <script src="/node_modules/i18next-browser-languagedetector/i18nextBrowserLanguageDetector.min.js" type="text/javascript"></script>
        <script src="/node_modules/i18next-localstorage-cache/i18nextLocalStorageCache.min.js" type="text/javascript"></script>
        <script src="/node_modules/i18next-xhr-backend/i18nextXHRBackend.min.js" type="text/javascript"></script>
        <script src="/node_modules/i18next-sprintf-postprocessor/i18nextSprintfPostProcessor.min.js" type="text/javascript"></script>
        <script src="//cdn.jsdelivr.net/velocity/1.2.2/velocity.min.js" type="text/javascript"></script>
        <script src="//cdn.jsdelivr.net/velocity/1.2.2/velocity.ui.min.js" type="text/javascript"></script>
        <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="/node_modules/sugar/dist/sugar.min.js" type="text/javascript"></script>
        <script src="/node_modules/jquery-validation/dist/jquery.validate.js" type="text/javascript"></script>
        <script src="//cdn.jsdelivr.net/momentjs/2.17.1/moment.min.js" type="text/javascript"></script>
    <% if (!isLogged) { %>
        <script src="/public/js/public<%=min%>.js" type="text/javascript"></script>
    <% } else { %>
        <script src="/node_modules/bootbox/bootbox.min.js" type="text/javascript"></script>
        <!--script src="//cdn.jsdelivr.net/history.js/1.8.0b2/history.js" type="text/javascript"></script-->
        <!--script src="//cdn.jsdelivr.net/handlebarsjs/4.0.5/handlebars.min.js" type="text/javascript"></script-->
        <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.4/handlebars.min.js" type="text/javascript"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/history.js/1.8/native.history.min.js" type="text/javascript"></script>
        <script src="/node_modules/minivents/dist/minivents.min.js" type="text/javascript"></script>
        <script src="/node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
        <script src="/node_modules/accounting/accounting.min.js" type="text/javascript"></script>
        <script src="/public/js/restricted<%=min%>.js" type="text/javascript"></script>
    <% } %>
</html>
