<form id="contract-documents-form" role="form">
    <div class="well well-sm form-error"><i class="fa fa-exclamation-triangle"></i> <span class="js-form-error-message"></span></div>
    <input type="hidden" id="_id" class="">
    <h2 id="occupantNameLabel" class="page-header"></h2>
    <div class="row">
        <div class="col-xs-12">
            <label><%= t('Documents') %></label>
        </div>
        <div class="col-xs-12">
            <div id="documents" class="js-js-form-rows">
                <div class="row js-form-row js-master-form-row">
                    <div class="col-xs-12">
                       <div class="form-group">
                            <label class="control-label"><%= t('Label') %></label>
                            <input type="text" id="name_0" class="form-control">
                       </div>
                    </div>
                    <div class="col-xs-12">
                       <div class="form-group">
                            <label class="control-label"><%= t('Expiration date') %></label>
                            <input type="text" id="expirationDate_0" class="form-control">
                       </div>
                    </div>
                    <div class="col-xs-12 clearfix">
                        <div class="pull-right js-btn-form-remove-row btn btn-sm">
                            <i class="fa fa-trash-o"></i> <%= t('Remove') %>
                        </div>
                    </div>
                </div>
            </div>
            <span id="btn-add-document" class="btn btn-default btn-sm"><i class="fa fa-plus"></i> <%= t('Add') %></span>
        </div>
    </div>
    <div class="well well-sm form-error"><i class="fa fa-exclamation-triangle"></i> <span class="js-form-error-message"></span></div>
</form>
