<div class="js-filterbar js-side-menu side-menu card" data-id="occupants-menu">
    <button type="button" class="btn btn-default btn-block js-user-action" data-id="list-action-add-occupant" role="button"><i class="fa fa-plus-circle"></i> <%= t('New') %></button>
    <h4><%= t('Status') %></h4>
    <button type="button" class="btn btn-default btn-block js-default-filter js-user-action" data-id="list-filter" data-toggle="button" role="button"><%= t('All') %> <span class="js-all-filter-label text-muted"></span></button>
    <button type="button" class="btn btn-default btn-block js-user-action" data-id="list-filter" data-value="inprogress" data-toggle="button" role="button"><%= t('Lease in progress') %> <span class="all-active-filter-label text-muted"></span></button>
    <button type="button" class="btn btn-default btn-block js-user-action" data-id="list-filter" data-value="stopped" data-toggle="button" role="button"><%= t('Lease terminated') %> <span class="all-inactive-filter-label text-muted"></span></button>
</div>

<div class="js-side-menu side-menu card" data-id="occupants-selection-menu">
    <button type="button" class="btn btn-default btn-block js-user-action js-cancel-selection" role="button"><i class="fa fa-reply"></i> <%= t('Cancel selection') %></button>
    <button type="button" data-id="list-action-view-occupant" class="btn btn-default btn-block js-user-action js-only-mono-selection" role="button"><i class="fa fa-eye"></i> <%= t('Lease contract') %></button>
    <button type="button" data-id="list-action-invoices" class="btn btn-default btn-block js-user-action js-only-mono-selection" role="button"><i class="fa fa-file-text-o"></i> <%= t('Rental invoices') %></button>
    <button type="button" data-id="list-action-manage-documents" class="btn btn-default btn-block js-user-action js-only-mono-selection" role="button"><i class="fa fa-folder-o"></i> <%= t('Manage documents') %></button>
    <button type="button" data-id="list-action-rents-history" class="btn btn-default btn-block js-user-action js-only-mono-selection" role="button"><i class="fa fa-history"></i> <%= t('Timeline rents') %></button>
    <button type="button" data-id="list-action-print" class="btn btn-default btn-block js-user-action" role="button"><i class="fa fa-print"></i> <%= t('Print') %></button>
    <h4 class="js-list-selection-menu-label"></h4>
    <div class="js-list-selected-elements list-group list-group-selection"></div>
</div>

<div class="js-side-menu side-menu card" data-id="occupant-view-menu">
    <button type="button" class="btn btn-default btn-block js-user-action js-cancel-form" role="button"><i class="fa fa-reply"></i> <%= t('Cancel') %></button>
    <button type="button" data-id="list-action-edit-occupant" class="btn btn-default btn-block js-user-action js-only-mono-selection"><i class="fa fa-pencil-square-o"></i> <%= t('Edit') %></button>
    <br>
    <%- include rentoverview %>
</div>

<div class="js-side-menu side-menu card" data-id="occupant-edit-menu">
    <button type="button" class="btn btn-default btn-block js-user-action js-cancel-form" role="button"><i class="fa fa-reply"></i> <%= t('Cancel') %></button>
    <button type="button" data-id="list-action-save-form" type="button" class="btn btn-default btn-block js-user-action" role="button"><i class="fa fa-save"></i> <%= t('Save') %></button>
    <button type="button" data-id="list-action-remove-occupant" class="btn btn-warning btn-block js-user-action" role="button"><i class="fa fa-trash"></i> <%= t('Remove') %></button>
    <br>
    <%- include rentoverview %>
</div>

<div class="js-side-menu side-menu card" data-id="invoices-menu" data-target="#invoices">
    <button type="button" class="btn btn-default btn-block js-user-action js-cancel-form" role="button"><i class="fa fa-reply"></i> <%= t('Cancel') %></button>
</div>

<div class="js-side-menu side-menu card" data-id="contract-documents-form-menu" data-target="#contract-documents-form">
    <button type="button" class="btn btn-default btn-block js-user-action js-cancel-form" role="button"><i class="fa fa-reply"></i> <%= t('Cancel') %></button>
    <button type="button" data-id="list-action-save-contract-documents" type="button" class="btn btn-default btn-block js-user-action" role="button"><i class="fa fa-save"></i> <%= t('Save') %></button>
</div>

<div class="js-side-menu side-menu card"  data-id="rents-history-menu" data-target="#rents-history">
    <button type="button" class="btn btn-default btn-block js-user-action js-cancel-form" role="button"><i class="fa fa-reply"></i> <%= t('Cancel') %></button>
</div>

<div class="js-side-menu side-menu card"  data-id="print-doc-selector-menu" data-target="#print-doc-selector">
    <button type="button" class="btn btn-default btn-block js-user-action js-cancel-form" role="button"><i class="fa fa-reply"></i> <%= t('Cancel') %></button>
    <h4 class="js-list-selection-menu-label"></h4>
    <div class="js-list-selected-elements fixed list-group"></div>
</div>
