<center>
    <h3><%= t('Sign in and begin your real estate management') %></h3>
</center>
<div class="form-card">
    <form id="login-form" role="form" action="/loggedin" method='post'>
        <div class="form-error"><i class="fa fa-exclamation-triangle"></i> <span class="js-form-error-message"></span></div>
        <div class="form-group">
            <label class="control-label"><%= t('E-mail') %></label>
            <input type="email" class="form-control" id="username" name="username" placeholder="<%= t('Your email address') %>">
        </div>
        <div class="form-group">
            <label class="control-label"><%= t('Password') %></label>
            <input type="password" class="form-control" id="password" name="password" placeholder="<%= t('Your password') %>">
        </div>
    </form>
    <div class="text-center">
        <button id="login-send" type="button" class="btn btn-primary"><%= t('Sign in') %></button>
        <%if (config.subscription) {%>
        <small>
        <span><%= t('No account yet?') %></span> <a class="js-nav-action" data-id="signup" href="#"><%= t('Free subscription') %></a>
        <%}%>
        </small>
    </div>
    <!--div class="clearfix">
        <a href="/forgotpass" id="forgot-password" class="pull-right">Mot de passe oublié ?</a>
    </div-->
</div>
