<script id="history-rents-template" type="text/x-handlebars-template">
    <h1>{{ occupant.name }}</h1>

    <table id="renttable" class="table table-hover table-bordered table-responsive">
        <thead>
            <tr>
                <td class="hidden-xs hidden-sm"><%= t('Year') %></td>
                <td><%= t('Month') %></td>
                <td class="hidden-xs hidden-sm text-right"><%= t('VAT ratio') %></td>
                <td class="text-right"><%= t('Rent to pay') %></td>
                <td class="text-right"><%= t('Payment') %></td>
                <td class="hidden-xs hidden-sm text-left"><%= t('Status') %></td>
            </tr>
        </thead>
        <tbody>
        {{#each rents}}
            {{> history-rent-row-template}}
        {{/each}}
        </tbody>
    </table>
</script>

<script id="history-rent-row-template" type="text/x-handlebars-template">
    <tr id="{{_id}}" class="{{active}}" data-value="{{uid}}">
        <td class="visible-xs visible-sm">{{month}}/{{year}}</td>
        <td class="hidden-xs hidden-sm">{{year}}</td>
        <td class="hidden-xs hidden-sm">{{formatMonth month}}</td>
        <td class="hidden-xs hidden-sm text-right">{{formatPercent vatRatio}}</td>
        <td class="text-right">{{formatMoney totalToPay}}</td>
        <td class="text-right txthighlight">{{formatMoney payment emptyForZero=true}}{{#if paymentType}}<br>{{paymentType paymentType}} {{#if paymentReference}}{{i18next key='#' number=paymentReference}}{{/if}}{{/if}}{{#if paymentDate}}<br>{{i18next key='Paid date' date=paymentDate}}{{/if}}</td>
        <td class="hidden-xs hidden-sm txtstatus text-left {{status}}">{{paymentStatus}}</td>
    </tr>
</script>

<div id="history-rents-table"></div>
