<script id="history-rents-template" type="text/x-handlebars-template">
    <h1>{{ occupant.name }}</h1>
    <div class='table-responsive'>
        <table id="renttable" class="table table-hover table-bordered">
            <thead>
                <tr>
                    <td class="visible-xs"><%= t('Period') %></td>
                    <td class="text-center"><%= t('Rent') %></td>
                    <td class="text-center"><%= t('VAT') %> ({{formatPercent occupant.vatRatio}})</td>
                    <td class="text-center"><%= t('Discount') %></td>
                    <td class="text-center"><%= t('Total') %></td>
                    <td class="text-center"><%= t('Payment') %></td>
                </tr>
            </thead>
            <tbody>
            {{#each rents}}
                {{> history-rent-row-template}}
            {{/each}}
            </tbodys>
        </table>
    </div>
</script>

<script id="history-rent-row-template" type="text/x-handlebars-template">
    <tr id="{{_id}}" class="{{active}}" data-value="{{uid}}">
        <td>{{formatMonthYear month=month year=year}}</td>
        <td class="text-right">{{formatMoney totalWithoutVatAmount}}</td>
        <td class="text-right">{{formatMoney vatAmount}}</td>
        <td>
            <div class="text-right">{{formatMoney promo emptyForZero=true}}</div>
            {{#if notepromo}}
                <div class="text-center">{{notepromo}}</div>
            {{/if}}
        </td>
        <td class="text-right">{{formatMoney totalToPay}}</td>
        <td>
            <div class="text-right">{{formatMoney payment emptyForZero=true}}</div>
            {{#if paymentType}}
                <div class="text-center">
                    {{paymentType paymentType}}
                    {{#if paymentReference}}
                        {{i18next key='#' number=paymentReference}}
                    {{/if}}
                </div>
            {{/if}}
            {{#if paymentDate}}
                <div class="text-center">{{i18next key='Paid date' date=paymentDate}}</div>
            {{/if}}
        </td>
    </tr>
</script>

<div id="history-rents-table"></div>
