<div class="logo">
    <img src="/public/images/logo.png">
    <h1><%= realm.companyInfo.name %></h1>
    <div >
        <%= realm.addresses[0].street1 %>
        <% if (realm.addresses[0].street2 && realm.addresses[0].street2.length>0) { %>
        <br><%= realm.addresses[0].street2 %>
        <% } %>
        <br><%= realm.addresses[0].zipCode %> <%= realm.addresses[0].city %>
    </div>
    <div class="contact">
        Tél. : <%= realm.contacts[0].phone1 %> <%= realm.contacts[0].phone2?' - '+realm.contacts[0].phone2:'' %>
        <% if (realm.contacts[0].email && realm.contacts[0].email.length>0) { %>
        <br>E-mail : <%= realm.contacts[0].email %>
        <% } %>
    </div>
</div>