<tr>
  <td colspan="1" class="blank"> </td>
  <td colspan="2" class="total-line">Sous total H.T.</td>
  <td class="total-value"><div class="subtotal"><%= formatMoney(rent.total.subTotal) %></div></td>
</tr>
<% if (rent.vats.length) { %>
<tr>
  <td colspan="1" class="blank"> </td>
  <td colspan="2" class="total-line">TVA <%= formatPercent(rent.vats[0].rate) %></td>
  <td class="total-value"><div class="subtotal"><%= formatMoney(rent.total.vat) %></div></td>
</tr>
<% } %>
<tr>
  <td colspan="1" class="blank"> </td>
  <td colspan="2" class="total-line">Solde antérieur</td>
  <td class="total-value"><div class="subtotal"><%= formatMoney(rent.total.balance) %></div></td>
</tr>
<tr>
  <td colspan="1" class="blank"> </td>
  <td colspan="2" class="total-line">Total T.T.C.</td>
  <td class="total-value"><div class="total"><%= formatMoney(rent.total.grandTotal) %></div></td>
</tr>

<tr>
  <td colspan="1" class="blank"> </td>
  <td colspan="2" class="total-line">Montant payé</td>
  <td class="total-value"><div class="total"><%= formatMoney(rent.total.payment) %></div></td>
</tr>

<tr>
  <td colspan="1" class="blank"> </td>
  <td colspan="2" class="total-line balance"><%= rent.total.newBalance < 0 ? "Solde en votre faveur" : "Montant restant à payer" %></td>
  <td class="total-value balance"><div class="due"><%= formatMoney(Math.abs(rent.total.newBalance)) %></div></td>
</tr>
