<tr>
  <th>Description</th>
  <th>Quantité / Surface m<sup>2</sup></th>
  <th>Prix Unitaire H.T.</th>
  <th>Total H.T.</th>
</tr>

<%
    occupant.properties.forEach(function(occupantProperty){
        var property = occupantProperty.property;
        var m2Price;
        var m2Expense;

        if (occupantProperty.visibleOnInvoice) {
%>
	<tr class="item-row">
	  <td class="description">
	  	Location <%= property.name %>
	  </td>
	  <%
	    if (property.surface) {
	        m2Price = property.price / property.surface;
	  %>
		  <td class="txtAlignRight"><%= formatNumber(property.surface) %></td>
		  <td class="txtAlignRight"><%= formatNumber(m2Price) %></td>
	  <% } else { %>
		  <td class="txtAlignRight">1</td>
		  <td class="txtAlignRight"><%= formatNumber(property.price) %></td>
	  <% } %>
	  <td class="txtAlignRight"><%= formatNumber(property.price) %></td>
	</tr>

	<% if (property.expense) { %>
		<tr class="item-row">
		  <td class="description">
		  	Provision sur charges
		  </td>
		  <%
		    if (property.surface) {
		        m2Expense = property.expense / property.surface;
		  %>
		      <td class="txtAlignRight"><%= formatNumber(property.surface) %></td>
		      <td class="txtAlignRight"><%= formatNumber(m2Expense) %></td>
		  <% } else { %>
		      <td class="txtAlignRight">1</td>
		      <td class="txtAlignRight"><%= formatNumber(property.expense) %></td>
		  <% } %>
		  <td class="txtAlignRight"><%= formatNumber(property.expense) %></td>
		</tr>
	<% } %>
<% } %>
<% }); %>

<% if (occupant.discount > 0) { %>
	<tr class="item-row">
	  <td class="description">
		Remise exceptionnelle
	  </td>
	  <td class="txtAlignRight">1.00</td>
	  <td class="txtAlignRight">- <%= formatNumber(occupant.discount) %></td>
	  <td class="txtAlignRight">- <%= formatNumber(occupant.discount) %></td>
	</tr>
<% } %>

<%
	var emptyRowCount = 9 - occupant.properties.length;
	for (var idx=0; idx<emptyRowCount; idx++) {
%>
	<tr class="item-row">
		<td class="description">&nbsp;</td>
		<td class="txtAlignRight">&nbsp;</td>
		<td class="txtAlignRight">&nbsp;</td>
		<td class="txtAlignRight">&nbsp;</td>
	</tr>
<% } %>