<div class="paymentinfo">
	<strong>MODALITES DE PAIEMENT</strong>
	<div class="columns">
		<div>
			<br><u>Par virement bancaire</u>
			<br>Nos coordonnées bancaires
			<br><%= realm.bankInfo.name %>
			<br>IBAN : <%= realm.bankInfo.iban %>
			<br> &nbsp;
			<br><u>Par espèce</u>
			<br>Contactez <%= realm.contacts[0].name %>
			<br>Tél : <%= realm.contacts[0].phone1 %> <%= realm.contacts[0].phone2?' - '+realm.contacts[0].phone2:'' %>
			<br>E-mail : <%= realm.contacts[0].email %>
		</div>
		<div>
			<br><u>Par chèque bancaire ou postal</u>
			<br>Etablissez votre chèque à l'ordre de la <%= realm.companyInfo.legalStructure+' '+realm.companyInfo.name %> et à envoyer à l'adresse suivante :
			<br><%= realm.addresses[0].street1 %>
			<% if (realm.addresses[0].street2 && realm.addresses[0].street2.length>0) { %>
			<br><%= realm.addresses[0].street2 %>
			<% } %>
			<br><%= realm.addresses[0].zipCode %> <%= realm.addresses[0].city %>
		</div>
	</div>
</div>
