
<form id="signup-form" role="form" action="/signedin" method='post'>
    <div class="form-error"><i class="fa fa-exclamation-triangle"></i> <span class="js-form-error-message"></span></div>
    <div class="form-group">
        <label class="control-label"><%= t('First name') %></label>
        <input type="text" class="form-control" placeholder="<%= t('First name') %>" id="firstname" name="firstname">
    </div>

    <div class="form-group">
        <label class="control-label"><%= t('Last name') %></label>
        <input type="text" class="form-control" placeholder="<%= t('Last name') %>" id="lastname" name="lastname">
    </div>

    <div class="form-group">
        <label class="control-label"><%= t('E-mail') %></label>
        <input type="email" class="form-control" placeholder="<%= t('Your email address') %>" id="email" name="email">
    </div>

    <div class="form-group">
        <label class="control-label"><%= t('Password') %></label>
        <input type="password" class="form-control" placeholder="<%= t('Your password') %>" id="password" name="password">
    </div>
</form>

<div class="text-center">
    <small><%= t('By clicking Register, you accept the') %> <a href="/public/pdf/cgu.pdf"><%= t('Term of use') %></a></small>
    <button id="signup-send" type="button" class="btn btn-primary"><%= t('Register') %></button>
    <p><%= t('You already have an account?') %> <a href="/login"><%= t('Sign in') %></a></p>
</div>
